* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #060606;
    color: white;
}

.todolist {
   margin-left: auto;
    margin-right: auto;
}

.headerPomodoro {
    margin-left: 100;
    width: 40%;
}
    
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
    
.sidebar a:hover {
    color: #f1f1f1;
}

.sidebarDesign {
    width: 20%;
    left: 0.5%;
    position: fixed;
    height: 100%;
    z-index: 1;
    padding: 1px 0;
}

.sidebar {
    padding-top: 5%;
    border-radius: 1%;
    background-color: #1A1D21;
    height: 1120px;
}

.sidebarContent {
    padding-top: 3%;
    padding-left:2%;
    margin-left: 21%;
    margin-right: 1%;
    font-size: 28px;
    background-color: #1A1D21;
    height: 1120px;
    border-radius: 1%;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 2%;}
    .sidebar a {font-size: 18px;}
}

.iconStyle {
    width: 10%;
    height: 10%;
}