* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #060606;
    color: white;
}
    
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
    
.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar {
    padding-top: 3%;
    border-radius: 1%;
    background-color: #1A1D21;
    height: 1120px;
    padding-left: 5%;
}

.sidebarDesign {
    width: 20%;
    left: 0.5%;
    position: fixed;
    z-index: 1;
    padding: 1px 0;
}

.sidebarContent {
    padding-top: 3%;
    padding-left:2%;
    margin-left: 21%;
    margin-right: 1%;
    font-size: 28px;
    background-color: #1A1D21;
    height: 1120px;
    border-radius: 1%;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 2%;}
    .sidebar a {font-size: 18px;}
}
.todoIcon {
    width: 20px;
    height: 20px;
    /* 5% 2% */
}

.pomodoroIcon {
    width: 20px;
    height: 20px;
    /* 6% 2%*/
}